* {
    background-color: #F3F5Fc;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo {
    padding: 24px 4%;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

section {
    align-items: center;
}

.section-input {
    padding: 24px;
}

.input-area {
    color: #0A3871;
    border-style: none;
    resize: none;
}

.input-area:focus {
    outline: none;
}

.input-area::placeholder {
    color: #0A3871;
}

.sugerencia {
    font-size: 12px;
    color: #495057;
    padding: 12px 6px;
}

.section-output {
    background-color: #FFFFFF;
    padding: 20px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    display: inherit;
    flex-direction: column;
    align-items: stretch;
}

.output-area {
    font-size: 24px;
    background-color: inherit;
    border-style: none;
    resize: none;
    height: 100%;
}

.botones-container {
    background-color: inherit;
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.boton-azul {
    color: white;
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-size: 16px;
    height: 67px;
    width: 100%;
}

.boton-azul:active {
    background-color: #072B61;
}

.boton-blanco {
    color: #0A3871;
    background-color: inherit;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-size: 16px;
    height: 67px;
    width: 100%;
}

.boton-blanco:active {
    background-color: #D8DFE8;
}

@media screen and (max-width:480px) {
    body {
        background-color: red;
    }

    main {
        margin: 0px;
        padding: 8px 6px;
    }

    section {
        width: 100%;
    }

    .section-input {
        padding: 0%;
    }

    .input-area {
        width: 100%;
        padding: 0%;
    }

    .section-output {
        margin-top: 32px;
    }

    .output-area {
        width: 100%;
    }

    .botones-container {
        flex-direction: column;
    }

}